@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background: url(/img/Tech-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home,
.about,
.projects,
.contact {
  text-align: center;
}

.main {
  min-height: 90vh;
}

h1,
h2,
h3 {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.error-heading {
  text-align: center;
}

p {
  color: #fff;
  font-size: 1rem;
}

.content {
  flex: 1;
}

.home div p {
  text-align: center;
}

.about {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.about p {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.resume {
  /* text-align: center; */
  margin-bottom: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume a {
  text-decoration: none;
}

.resume-button {
  color: #fff;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.resume-button p {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.core-competencies {
  text-align: center;
}

.core-competencies-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.core-competencies-list {
  margin: 0 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
}

.core-competencies-item {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background-color: rgb(245, 244, 244);
  margin: 20px;
  text-align: center;
  height: 300px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  width: 100%;
  font-size: 1.5rem;
  padding-top: 5px;
  margin: 0;
  color: #444;
}

.project-description {
  margin-top: auto;
  color: #444;
}

.project-link {
  text-decoration: none;
}
