@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Style+Script&display=swap");

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  background: url(/src/assets/img/Site-Background-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home,
.about,
.education,
.projects,
.contact {
  text-align: center;
}

.main {
  margin: auto;
  min-height: 90vh;
  max-width: 90%;
}

h1,
h2,
h3 {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.error-heading {
  text-align: center;
}

p {
  color: #fff;
  font-size: 1rem;
}

.content {
  flex: 1;
}

/* HOME */

.home p {
  text-align: center;
  margin: 1rem;
}

.home-page {
  margin: 2rem auto 0;
}

/* ABOUT */

.about {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about p {
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  max-width: 900px;
  text-align: left;
  line-height: 1.5;
}

.about-img {
  height: 225px;
  width: 250px;
  transition: 0.7s ease-in-out;
}

.about-img img {
  height: 100%;
}

.core-competencies {
  text-align: center;
}

.competencies-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.core-competencies-title {
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}

.core-competencies-list {
  margin: 0 1rem 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  text-align: left;
}

.core-competencies-item {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.developer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 0;
  margin: 0 auto 2rem;
}

.developer-icon {
  list-style: none;
}

.developer-icon img {
  text-decoration: none;
  height: 100px;
  padding: 1rem;
}

.resume {
  margin-bottom: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume a {
  text-decoration: none;
}

.resume-button {
  color: #fff;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}

.resume-button:hover {
  transform: scale(1.02);
  opacity: 0.5;
}

.resume-button p {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

/* EDUCATION */

.education-title {
  margin-bottom: 0;
}

.education-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3rem;
  max-width: 1500px;
}

.education-card {
  background-color: rgb(0, 0, 0, 0.1);
  margin: 3rem 2rem;
  text-align: center;
  height: auto;
  width: 700px;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1px solid #363535;
}

.education-name,
.education-school,
.education-description {
  color: #fff;
}

.education-card-1,
.education-card-2,
.education-card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-name {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.education-degree {
  margin: 0.25rem;
}

.education-school {
  margin: 0.25rem;
}

.education-description {
  margin-top: auto;
  line-height: inherit;
}

.education-img {
  height: 150px;
  width: 150px;
}

.education-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 850px) {
  .education-img,
  .education-img img {
    display: none;
  }
  .education-card-1,
  .education-card-2,
  .education-card-3 {
    margin-left: auto;
    margin-right: auto;
  }
  .education-card {
    width: 400px;
    margin-bottom: 1rem;
  }
  .competencies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .developer-icon img {
    text-decoration: none;
    height: 80px;
    padding: 1rem;
  }
}

/* PROJECTS */

.project-title {
  margin-bottom: 0;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3rem;
  max-width: 1500px;
}

.project-card {
  background-color: rgb(245, 244, 244);
  margin: 3rem 1.25rem;
  text-align: center;
  height: 300px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-name {
  width: 100%;
  font-size: 1.5rem;
  padding-top: 5px;
  margin: 0;
  color: #444;
}

.project-description {
  margin-top: auto;
  color: #444;
}

.project-link {
  text-decoration: none;
}
